
body {
    display: block;
    text-align: center;
}

form {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    top: 10rem;
}

.login-form {
    border: solid 0.1rem #35A5E4;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-position: 98% 50%;
    height: 2.5rem;
    width: 20rem;
    margin-top: 0.5rem;
}

label {
    font-size: x-large;
    font-weight: lighter;
}

input#email {
    font-size: larger;
    padding: 2%;
    margin-bottom: 2rem ;
}

a {
    color: black;
}

a:hover { 
    color: #35A5E4;
    cursor: pointer;
}

.submit-form {
    width: 6rem;
    height: 3rem;
    background-color: #35A5E4;
    border: solid 0.1rem #35A5E4;
    color: white;
    border-radius: 0.5rem;
    margin-left: 7rem;
}

.submit-form:hover {
    cursor: pointer;
    border: solid 0.1rem white;
}

.logo {
    position: relative;
    font-size: xx-large;
    margin-right: 4rem;
    top: 8rem;
    font-weight: lighter;
    justify-content: center;
}

.logo:hover {
    cursor: default;
}

/********** HTML -- myAccount.html *****************/
input#full-name {
    font-size: larger;
    padding: 2%;
    margin-bottom: 2rem ;
}

/* HTML -- myAccount.html */
input#user-role {
    font-size: larger;
    padding: 2%;
    margin-bottom: 2rem ;
}

/* HTML -- myAccount.html */
input#new-password {
    font-size: larger;
    padding: 2%;
    margin-bottom: 2rem ;
}

/* HTML -- myAccount.html */
input#repeat-new-password {
    font-size: larger;
    padding: 2%;
    margin-bottom: 2rem ;
}

input#password {
    font-size: larger;
    padding: 2%;
    margin-bottom: 1rem;
}

.forgot-password {
    margin-bottom: 1rem;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 80%;
    top: -20%;
}

/* The Close Button */
.close {
    color: gray;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover {
    color: #35A5E4;
    text-decoration: none;
    cursor: pointer;
}

.close:focus {
    color: #35A5E4;
    text-decoration: none;
    cursor: pointer;
}


