
.queries {
    display: block;
    text-align: center;
}

.query-content {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    top: 10rem;
}

.query-section {
    display: block;
    text-align: center;
}

.content {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    top: 0rem;
}